__pycache__
*.pyc
*_disp.jpg
*_disp.npy
*.npz
kitti_data
models
wandb
._*
paper/mono+stereo_pre
paper/SQL
paper/Zeus/models
paper/monovit
paper/monovit
figs
mono_dataset_3rdmay.py
mono_dataset_test.py
Untitled-1.ipynb
datasets/old
ckpt/mpvit_small.pth
validation.py
